.header{
	height:100px;
	width:100%;
}
.footer{
	clear:both;
	position:relative;
	margin-top:30px;
	bottom:0px;
	height:100px;
	width:99%;
	text-align:center;
}

.header img{
	min-height:50px;
	max-width:200px;
	max-height:99px;
	margin-bottom:5px;
}
.footer a{
	text-decoration:none;
}
.footer hr, .header hr{
	clear:both;
	border-bottom: 1px solid rgba(81, 203, 238, 1);
}

#login-field{
	clear:both;
	margin-top:20px;
	border: 1px dotted #0060ff;
	font-family:"Century Gothic";
}

#edit-field{
	clear:both;
	margin-top:10px;
	border: 1px dotted #0060ff;
	font-family:palatino;
}

#login-table{
	border:1px dashed #c0c0c0;
	margin:0px auto;
}

#login-table a{
	text-decoration:none;
	font-size:14px;
	margin:10px;
}

#blue-btn{
	background-color:#0060ff;
	border:none;
	margin:3px;
	color:white;
	width:98%;
	height:40px;
}

.edit-btn, .delete-btn{
	display:block;
	border:none;
	padding:5px;
	margin-bottom:3px;
	text-align:center;
	text-decoration:none;
	background-color:#ca00be;
	color:white;
}
.delete-btn{
	background-color:#e30000;
}

.edit-btn a:hover, .delete-btn a:hover{
	background-color:#d00040;
}

#blue-btn-mini{
	background-color:#0060ff;
	border:none;
	margin:3px 3px 3px 0px;
	color:white;
	width:15%;
	height:40px;
}

#warning-box{
	margin-top:30px;
	width:99%;
	padding:10px;
	text-align:center;
	color:#ff0000;
	font-weight:bold;
}

#user-field{
	background:url('../images/user.png') no-repeat;
    background-position: 2px 5px;
}
#pass-field{
	background:url('../images/pass.png') no-repeat;
    background-position: 2px 5px;
	border-top:1px solid #c0c0c0;
}
.input-text{
	padding:2px 10px 2px 25px;
	font-size:16px;
	margin:auto;
	width:299px;
	height:30px;
	border:none;
}

.menu,.admin-menu{
	width:100%;
	position:relative;
	left:-40px;
	top:-10px;
}
.menu ul, .admin-menu ul{
	list-style:none;
}
.menu ul li, .admin-menu ul li{
	text-align:center;
	border-right:1px solid #ccc;
    min-width:10%;
    max-width:12%;
	display:inline-block;
	margin-top:10px;
	padding:10px;
}
.admin-menu ul li{
    min-width:8%;
	max-width:10%;
	padding-left:10px;
}
.menu ul li a, .admin-menu ul li a{
	text-decoration:none;
	color:#001eff;
}
.menu ul li a:hover, .admin-menu ul li a:hover{
	padding-bottom:3px;
	border-bottom:3px solid #ccc;
}
.admin-menu hr, .menu hr{
	position:relative;
	clear:both;
	left:3%;
	margin-top:-10;
}
#logout{
	background:none;
}

.apart{
	margin:10px;
	float:left;
	min-height:300px;
	width:45%;
}
.apart fieldset{
	border:1px dashed #ccc;
}
.apart #full{
	margin-left:-100px;
	width:700px;
}
.apart input{
	min-width:250px;
}

.notif{
	margin:10px;
	width:97%;
	min-height:100px;
	border:1px solid #ccc;
}
.notif-service{
	margin:10px;
	padding-left:70px;
	background:url('../images/dservice.png') no-repeat;
    background-size: 60px 60px;
    background-position: 5px 20px;
	min-width:85%;
	max-width:95%;
	min-height:100px;
	border:1px solid #ccc;
}
.notif-file{
	margin:5px;
	padding-top:15px;
	padding-left:70px;
	background:url('../images/download.png') no-repeat;
    background-size: 60px 60px;
    background-position: 5px 20px;
	min-width:85%;
	max-width:95%;
	min-height:100px;
	border:1px solid #ccc;
}
.notif-service a, .notif a, .notif-file a{
	color:#0000de;
	text-decoration:none;
}

#form-table{
	margin-left:30px;
	width:90%;
}
#form-table textarea{
	width:80%;
	min-height:250px;
}
#form-table #smaller-textarea{
	min-height:100px;
}

#view-table{
	width:90%;
}
#view-table td{
	padding:5px;
}
#view-table th{
	background-color:#0060ff; 
	color:white;
	text-align:center;
	padding:5px;
}

#exist-img{
	max-width:400px;
	border:1px solid #ccc;
}

#kahint{
	width:250px;
	border:1px solid red;
}

.notif-title{
	margin:10px;
	font-size:16px;
	text-transform:uppercase;
}
.notif-content{
	margin:10px;
	font-size:14px;
}
.title-space{
	color:rgb(255,50,0);
	margin-bottom:0px;
}

#captcha{
	font-size:18px;
	color:#ff0000;
	font-weight:bold;
	border:1px dashed #c6c6c6;
	text-align:center;
}

strong{	
	display:block;
	width:90%;
	color:rgb(255,50,0);
	font-size:16px;
}
#full{
	border:1px dashed #c0c0c0;
	display:block;
	width:100%;
}
#logo-about{
	border:1px dashed #c0c0c0;
	margin:20px 10px 10px 0px;
	float:left;
	width:20%;
}
.tanggal{
	border:1px dotted #c0c0c0;
	margin:10px 10px 10px 0px;
	padding:30px 10px;
	float:left;
	color:rgb(255,50,0);
}